

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>moryibrah</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      
      <style>
      
       .head {
  font-family: Georgia, sans-serif;
  font-size: 1.5em;
  letter-spacing: -2px;
}

     
      </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="header_to d_none">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <ul class="lan">
                           <li><i class="fa fa-globe" aria-hidden="true"></i> Language :</li>
                        </ul>
                        <form action="#" >
                           <div class="select-box">
                              <label for="select-box1" class="label select-box1"><span class="label-desc">English</span> </label>
                              <select id="select-box1" class="select">
                                 <option value="Choice 1">English</option>
                                 <option value="Choice 1">Falkla</option>
                                 <option value="Choice 2">Germa</option>
                                 <option value="Choice 3">Neverl</option>
                              </select>
                           </div>
                        </form>
                     </div>
                     <div class="col-md-6 col-sm-6 ">
                        <ul class="social_icon1">
                           <li> F0llow Us
                           </li>
                           <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header_midil">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-4 col-sm-4 d_none">
                        <ul class="conta_icon">
                           <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Call Us : 0715663008/0111961321</a> </li>
                        </ul>
                     </div>
                     <div class="col-md-4 col-sm-4 " >
                        <h1 class="head"> <b>MORYIBRAH LOGISTICS</b></h1>
                     </div>
                     <div class="col-md-4 col-sm-4 d_none">
                        <ul class="conta_icon ">
                           <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> moryibrahlogisticsltd@gmail.com</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header_bo">
               <div class="container">
                  <div class="row">
                     <div class="col-md-9 col-sm-7">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="/"> Home  </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="about">about</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="service">services</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="team">team </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="client">Clients</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="contact.html"> contact us </a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                     <div class="col-md-3 col-sm-5 d_none">
                        <ul class="sign">
                           <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                           <li><a class="sign_btn" href="#">sign up now</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
 
      <!-- service section -->
      <!-- 
      <div id="service" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2><strong class="yellow">service</strong><br> WE CAN HELP YOUR business GROW</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon1.png" alt="#"/>
                     <h3>BUILDING AND CONSTRUCTION</h3>
                     <p>We are fully licensed and permitted to provide construction management services </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon2.png" alt="#"/>
                     <h3>COCKROACH CONTROL SERVICES</h3>
                     <p>We offer anti-cockroach treatment and cockroach control with electronic control service </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon3.png" alt="#"/>
                     <h3>Anti-Termite Services</h3>
                     <p>We are certified by PCBP to provide pest control, extermination, fumigation, elimination, and fumigation services </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon4.png" alt="#"/>
                     <h3>SHIPMENT</h3>
                     <p>We are trusted in providing a safe means for our customers' products and materials </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon5.png" alt="#"/>
                     <h3>BED BUG MANAGEMENT SERVICE</h3>
                     <p>We use bed bug control spray which is known for its higher efficacy </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="images/service_icon6.png" alt="#"/>
                     <h3>WOOD BORER CONTROL SERVICE</h3>
                     <p> performed using wood borer treatment pesticides that are very eco-friendly and give no harm to our clients and to the environment as well</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      -->
      
      <div id="about" class="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
                  <div class="titlepage">
                     <h2><strong class="yellow">OUR SERVICES</strong><br> PEST CONTROL SERVICES</h2>
                  </div>
                  <h3>Pioneered In Pest Control Industry</h3>
                  <span>(Ensuring a pest free healthy environment)</span>
                  <p>
                  Moryibrah Logistics Ltd Pest Control Services is the best pest control service provider in and around Kisumu. It was established in 2021 with the best administration and guidance of experienced and skilled professionals. We at Mill pest control established this company with the vision to bring innovation and convenience the pest control industry. This company is licensed by the regular Pest Control Products Board. Moryibrah Logistics Ltd aims to set new standards for customers’ service having operations across western region of Kenya and focusing on developing industry loading service operations through the sharing of best practices, new innovations and the use of digital technology.
                  <br>
                  <br>
                  Being in the Pest Control business, we have tackled all types of pests in all kinds of premises of residential, housing societies, restaurants, factories, offices, hospitals and many more. We aim at providing a safe and pest free environment by protecting your health and property form the menace of pests.
                  <br>
                  
                  </p>
                  
               </div>
            </div>
            <div class="col-md-12 col-lg-5">
               <div class="about_img">
                  <figure><img src="images/pest.jpg" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
      <!-- service section --
      <div id="about" class="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
               
              
               
                  <div style="padding-top:25px; font-size: 17px;">
                  
                  
                  
    
     <h3 style="color:red">1.Anti-Termite Services
     </h3>
      <p>
      Termites are economically significant pests that can cause serious structural 
      damage to buildings and crops. Most of this damage is caused by subterranean or 
      soil nesting termites in search for food containing cellulose such as wood, paper, 
      etc. We offer anti termite treatment to our customers which comprise: -
      <br>
      <br>
      <h5 style="color:red">I) PRE-CONSTRUCTION ANTI-TERMITE TREATMENT
      </h5>
      
      i)The treatment is performed before the construction of a building commences<br>
      ii)This treatment is ideal for residential as well as commercial buildings <br>
      iii)It’s offered by us with at least ten years of warranty<br>
      <br>
      <h5 style="color:red">II) POST-CONSTUCTION ANTI-TERMITE TREATMENT</h5>
      i)This treatment is performed after the final construction of a building <br>
      ii)It’s highly effective and provides protection of against subterranean termites<br>
      iii)It is offered by us with 1-5years of warranty<br>
      <br>
      <br>
      <h3 style="color:red">2.COCKROACH CONTROL SERVICES</h3>
      <br>
      Cockroaches are most common crawling house hold pests found almost 
      everywhere in Kenya. They typically became established in homes after being 
      introduced in grocery bags, with laundry or in some cases, wandering in from 
      outdoors. Once Cockroaches become established, they are prolific breeders capable 
      of producing several thousand offspring in a year. Because cockroaches eat a wide 
      range of food, including rotting garbage, it is believed that they spread diseases to 
      human including salmonella and gastroenteric, cockroaches can also cause 
      allergies. They also have a nuisance value. We offer anti-cockroach treatment and 
      cockroach control with electronic control service which comprises;
      <br>
      <h4 style="color:red">a) Simple service
      </h4>
      i) This service is done only once without any warranty<br>
      ii)This is odorless treatment sand doesn’t involve any special preparations.<br>
      <br>
      <h4 style="color:red">b) Annual maintenance contract
      </h4>
      i)Under this service pest control cockroaches service is provided four times a year at an interval of three months<br>
      ii)Customers availing our annual maintenance contract will get warranty coverage for one year<br>
      iii)We provide efficacy complain service to our clients within 24 hours. The way we used to control our service a part from the above one by means of using gel and sprays. We used to supply gels and sprays at the harborage such as cracks and crevices which not only kills cockroaches but also red and black ants.<br>
      
      <br>
      <br>
      <h3 style="color:red">3.BED BUG MANAGEMENT SERVICE
      </h3>
      These bloodsucking insects are commonly found in unhygienic conditions and in 
      public places like hospitals, public transport vehicles, hostels, guest houses, 
      theatres, etc. Passive in day time and active at nights. These creatures attack people 
      from their dwelling places like beds, sofa, mattresses, baggage, pillows, blanket, 
      curtains, etc.
      <br>
      <br>
      <h4 style="color:red">What we do;
      </h4>
      <br>
      i)We use bed bug control spray which is known for its higher efficacy <br>
      ii)Our services can be availed with a three months warranty. Under the 
      warranty period, i.e., three months, we offer bedbug management service 
      four times.<br>
      iii)Also, we attend to all the complaints free of cost during the warranty period. 
      Furthermore, we also offer special packages for our corporate clients and 
      offer 1 year of warranty including hotels/restaurants, etc.<br>
      <br>
      <h3 style="color:red"> 4.WOOD BORER CONTROL SERVICE
      </h3>
      The wood border is often called as wood boring beetle. The term wood boring
      beetle encompasses many species and families and families of beetles whose level 
      or adults’ forms eat and destroy wood i.e. 
      (xylophagous)Laval stages of some are commonly known as wood worms 
      Wood borer beetle control service of ours is performed using wood borer treatment 
      pesticides that are very eco-friendly and give no harm to our clients and to the
      environment as well.
      <br>
      <br>
      <h4 style="color:red">What we do;
      </h4>
      i)In our wood borer bee control service, we inject chemicals on the wood structure<br>
      ii)We provide annual maintenance contract facility to our clients under which, warranty is provided <br>
      iii)All the complaints will be attended absolutely free of cost during the tenure of the contract<br>
      <br>
      <h3 style="color:red">5.RODENT CONTROL SERVICES
      </h3>
      <br>
      Rodent Control Service is specially designed to target at control of rats, mice and 
      Bandicoots. Rodents are most common urban pest which invades our homes, 
      transmit diseases, destroys and feed on our food, damages our personal belonging.
      It has a habit of gnawing. Belonging to the species of mammal, they are very 
      intelligent and highly adaptable creatures. Not only if their smell unbearable, they 
      are also the cause of plague, leptospirosis and other dangerous diseases.
      <br>
      <br>
      <h4 style="color:red">What we do;
      </h4>
      i)We provide electronic rodent control service by our experienced and competent technicians, field biologists and professionals<br>
      ii)Our Rodent Control Service is amalgamation of baiting, trapping and proofing methods<br>
      iii)Pest rodent control service of ours can be availed at the most moderate and competitive charges.<br>
      iv)We also apply snap traps inside the premise<br>
      <br>
      <h3 style="color:red">6.MOSQUITO CONTROL SERVICE
      </h3>
      <br>
      Mosquitoes are responsible for the greatest number of deaths in the history of 
      mankind. They are very dangerous insects for spreading malaria, dengue, brain and 
      yellow fever. They rapidly adjust to urban life and hence are found in bedrooms, 
      elevators, cars, theatres, clubs, etc. Moreover, these creatures are very harmful to 
      any child.
      <br>
      <br>
      <h4 style="color:red"> What we do;
      </h4>
      i)We offer mosquito control services at very reasonable and affordable charge<br>
      ii)Our company is a very customer-oriented establishment and have prioritized customer satisfaction over profit making<br>
      iii)We have deployed dedicated, competent and experienced professionals who 
      render our service with excellence, making our clients premises mosquito 
      free, pleasing them to the maximum, which is our primary goal.<br>
      <br>
      <h3 style="color:red">6. FLY CONTROL SERVICE</h3>
      <br>
      Flies are among the dirtiest of all pests, carrying billions of germs on the outside of 
      their bodies. They breed quickly and can contaminate food or spread diseases,
      which can harm your normal day to day life. As per your demanded situations 
      there is not a unique fly control service that will work for all cases. Due to this you
      need our specialized experienced service and tools to find the right one for you. 
      There are several types of flies available out of which we are rarely familiar with. 
      The most common of them is Houseflies and others are blow flies, drain files, etc. 
      There are over 200 fly species that are very threatening to our civilization.
      <br>
      <br>
      <h4 style="color:red">What we do;
      </h4>
      i)One of our services is we apply non-toxic cleaners to eliminate fly attracting odors in garbage disposal and sanitation area.<br>
      ii)Mechanical control (Insect light trap) to draw flies to a non-toxic sticky
      board or electric shock board and applying shock treatment to kill them.<br>
      iii)Spraying a suitable pesticide wall and floor junctions, staircases, corridors 
      within the production areas, toilets and harborage and breeding sites within 
      the compound area.<br>
      <br>
      
      <h3 style="color:red">7. SNAKE CONTROL SERVICE
      </h3>
      <br>
      There are two types of snakes;<br>
       a) Poisonous snakes <br>
        b) Non-poisonous snakes<br>
        <br>
        <h4 style="color:red"> I) Poisonous Snakes</h4>
        These are obviously a bigger threat to the health and well-being of you and your 
        family, and this category includes such fearsome snakes as the copperhead, 
        black mamba, water moccasin and numerous species of rattlesnakes, all of 
        which can cause serious and often fatal injury if they are allowed to maintain a 
        presence around your home. But because their main sources of food are small
        rodents, having any rodent like mouse or rat around your home makes it more 
        likely that you might have poisonous snakes lurking not far away.
        <br>
        <br>
        <h4 style="color:red">II) Non poisonous snakes
        </h4>
        <br>
        Although they don’t present a massive threat to the health of you and your 
        family like the venomous snakes do, the non-venomous species of snakes are 
        also a serious pest problem and can cause many problems should they find their 
        way into your home. The major problem that non-venomous snakes can cause is 
        that they are liable to create nest inside a house, which can easily draw more 
        pests of different species and cause huge problem if not to be taken care of 
        quickly and completely.
        <br>
        <br>
      All snakes should be treated with respect and left alone regardless of venom. 
      Most venomous species are a type of pit viper (small pit below each eye that is 
      used to sense heat), including copper heads and rattle snakes. These are various 
      ways to identify a pit viper from non-venomous snakes. The physical 
      differences focus on features of the head, characteristics, of the non-venomous
      snakes are narrow head, no pit between eyes and nostrils and proud pupils. The 
      pit vipers have a triangular shaped head, a prominent pit between eye and 
      nostril and elliptical pupils. There can also be different trails.
      <br>
      <br>
      <h4 style="color:red">What we do;
      </h4>
      i)Knowing how to keep snakes away is a matter of knowing about the tools 
      available to do so. With snakes there are two ways to do it; repel them or 
      use a giant glue trap to capture and ill them.<br>
      ii)Snake repellant is one of the greatest ways to make sure your home 
      doesn’t fall victim to these pests. We use moth Balls, Sprays, liquids,
      powder solutions. It is designed to repel all snakes, both poisonous and 
      non-poisonous and can be applied around the perimeter of your house or 
      yard. This will give you the peace of mind knowing that any snakes that 
      come near your home will quickly turn away and look for a more hospitable environment.
      <br>
      <br>
      <h4 style="color:red">SNAKE PREVENTION
      </h4>
      i)As snakes love tall grass, weeds, brush and piles of debris; reducing this cover will make your yard much less appealing.<br>
      ii)Keep grass short and any bushes and shrubs especially close to the building foundations. Store fire wood away from homes and buildings.<br>
      iii)Control rodents which will then reduce the need for snakes to be around your property.
      
      
      </p>
      </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      -->
      
      <div class="card-deck" >
  <div class="card">
    <img class="card-img-top" src="images/cockroach.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">1.Anti-Termite Services</h5>
      <p class="card-text" style="font-size:17px">Termites are economically significant pests that can cause serious structural 
      damage to buildings and crops. Most of this damage is caused by subterranean or 
      soil nesting termites in search for food containing cellulose such as wood, paper, 
      etc. We offer anti termite treatment to our customers which comprise: -</p>
      <br>
      <h5 style="color:red">I) PRE-CONSTRUCTION ANTI-TERMITE TREATMENT
      </h5>
      
      i)The treatment is performed before the construction of a building commences<br>
      ii)This treatment is ideal for residential as well as commercial buildings <br>
      iii)It’s offered by us with at least ten years of warranty<br>
      <br>
      <h5 style="color:red">II) POST-CONSTUCTION ANTI-TERMITE TREATMENT</h5>
      i)This treatment is performed after the final construction of a building <br>
      ii)It’s highly effective and provides protection of against subterranean termites<br>
      iii)It is offered by us with 1-5years of warranty<br>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
     <img class="card-img-top" src="images/termite1.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">2.COCKROACH CONTROL SERVICES</h5>
      <p class="card-text" style="font-size:17px">Cockroaches are most common crawling house hold pests found almost 
      everywhere in Kenya. They typically became established in homes after being 
      introduced in grocery bags, with laundry or in some cases, wandering in from 
      outdoors. Once Cockroaches become established, they are prolific breeders capable 
      of producing several thousand offspring in a year. Because cockroaches eat a wide 
      range of food, including rotting garbage, it is believed that they spread diseases to 
      human including salmonella and gastroenteric, cockroaches can also cause 
      allergies. They also have a nuisance value. We offer anti-cockroach treatment and 
      cockroach control with electronic control service which comprises;</p>
    </div>
      <h4 style="color:red;font-size:17px">a) Simple service
      </h4>
      i) This service is done only once without any warranty<br>
      ii)This is odorless treatment sand doesn’t involve any special preparations.<br>
      <br>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/bedbug.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">3.BED BUG MANAGEMENT SERVICE</h5>
      <p class="card-text">These bloodsucking insects are commonly found in unhygienic conditions and in 
      public places like hospitals, public transport vehicles, hostels, guest houses, 
      theatres, etc. Passive in day time and active at nights. These creatures attack people 
      from their dwelling places like beds, sofa, mattresses, baggage, pillows, blanket, 
      curtains, etc.
      <br>
      <br>
      <h4 style="color:red;font-size:17">What we do;
      </h4>
      <br>
      i)We use bed bug control spray which is known for its higher efficacy <br>
      ii)Our services can be availed with a three months warranty. Under the 
      warranty period, i.e., three months, we offer bedbug management service 
      four times.<br>
      iii)Also, we attend to all the complaints free of cost during the warranty period. 
      Furthermore, we also offer special packages for our corporate clients and 
      offer 1 year of warranty including hotels/restaurants, etc.<br>
      <br>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>

      
     <!-- card 2 --> 
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/wood1.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">WOOD BORER CONTROL SERVICES</h5>
      <p class="card-text" style="font-size:17px"> The wood border is often called as wood boring beetle. The term wood boring
      beetle encompasses many species and families and families of beetles whose level 
      or adults’ forms eat and destroy wood i.e. 
      (xylophagous)Laval stages of some are commonly known as wood worms 
      Wood borer beetle control service of ours is performed using wood borer treatment 
      pesticides that are very eco-friendly and give no harm to our clients and to the
      environment as well.
      <br>
      <br>
      <h4 style="color:red;font-size:17px">What we do;
      </h4>
      i)In our wood borer bee control service, we inject chemicals on the wood structure<br>
      ii)We provide annual maintenance contract facility to our clients under which, warranty is provided <br>
      iii)All the complaints will be attended absolutely free of cost during the tenure of the contract<br></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/rodent.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">RODENT CONTROL SERVICES</h5>
      <p class="card-text" style="font-size:17px">Rodent Control Service is specially designed to target at control of rats, mice and 
      Bandicoots. Rodents are most common urban pest which invades our homes, 
      transmit diseases, destroys and feed on our food, damages our personal belonging.
      It has a habit of gnawing. Belonging to the species of mammal, they are very 
      intelligent and highly adaptable creatures. Not only if their smell unbearable, they 
      are also the cause of plague, leptospirosis and other dangerous diseases.
      <br>
      <br>
      <h4 style="color:red;font-size:17">What we do;
      </h4> 
      i)We provide electronic rodent control service by our experienced and competent technicians, field biologists and professionals<br>
      ii)Our Rodent Control Service is amalgamation of baiting, trapping and proofing methods<br>
      iii)Pest rodent control service of ours can be availed at the most moderate and competitive charges.<br>
      iv)We also apply snap traps inside the premise<br></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/www.jpg" alt="Card image cap">
    <div class="card-body" style="font-size:17px">
      <h5 class="card-title" style="font-size:17px">FLY CONTROL SERVICES</h5>
      <p class="card-text" style="font-size:17px">Flies are among the dirtiest of all pests, carrying billions of germs on the outside of 
      their bodies. They breed quickly and can contaminate food or spread diseases,
      which can harm your normal day to day life. As per your demanded situations 
      there is not a unique fly control service that will work for all cases. Due to this you
      need our specialized experienced service and tools to find the right one for you. 
      There are several types of flies available out of which we are rarely familiar with. 
      The most common of them is Houseflies and others are blow flies, drain files, etc. 
      There are over 200 fly species that are very threatening to our civilization.
      <br>
      <br>
      <h4 style="color:red;font-size:17px">What we do;
      </h4>
      i)One of our services is we apply non-toxic cleaners to eliminate fly attracting odors in garbage disposal and sanitation area.<br>
      ii)Mechanical control (Insect light trap) to draw flies to a non-toxic sticky
      board or electric shock board and applying shock treatment to kill them.<br>
      iii)Spraying a suitable pesticide wall and floor junctions, staircases, corridors 
      within the production areas, toilets and harborage and breeding sites within 
      the compound area.<br></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
     
      <!--  footer -->
      <footer >
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="logo2"><h1 style="color:#FFFFFF">MORYIBRAH</h1></div>
                  </div>
                  <div class="col-lg-5 col-md-6 col-sm-6">
                     <h3>Contact Us</h3>
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> P.O. BOX 16-40116, CHEMELIL
                           <br> KENYA
                        </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>moryibrahlogisticsltd@gmail.com<br> moryibrahlogisticsltd@gmail.com</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>0715663008<br>0111961321</li>
                     </ul>
                     <ul class="social_icon">
                        <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#">   <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <h3>Menus</h3>
                     <ul class="link_icon">
                        <li > <a href="index.html"> Home</a></li>
                        <li>
                           <a href="about.html">
                              </i>About Us  
                        </li>
                        <li class="active"> <a href="service.html"> </i>Services</a></li>
                         <li> <a href="team.html"></i>Team</a></li>
                        <li> <a href="client.html"></i>Clients</a></li>
                        <li> <a href="contact.html"></i>Contact us</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <h3>Recent Post</h3>
                     <ul class="link_icon">
                        <li > <a href="#"> Participate in staff </a></li>
                        <li>
                           <a href="#">
                              meetings manage 
                        </li>
                        <li> <a href="#"> dedicated to </a></li>
                        <li> <a href="#"> serving</a></li>
                        <li> <a href="#"> November 25, 2021</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <h3>Newsletter</h3>
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="news" placeholder="Your Email" type="type" name="Your Email"> 
                           </div>
                           <div class="col-md-12">
                              <button class="send_btn">Send</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>